.modelForm {
  position: relative;
  z-index: 2500;
  opacity: 0;
  animation: fadeIn 1.0s ease-in forwards;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  gap: 65px;
  padding: 50px;
}

.modelForm-select {
  position: relative;
  z-index: 2500;
  width: 500px; 
  height: 65px; 
  font-size: 20px;
  padding: 8px 16px 8px 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  z-index: 1460;
}

.reset {
  height: 43px;
  width: 135px;
  background-color: orangered;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.reset:hover {
  background-color: #ff5a1f;
  box-shadow: 0 0 12px orangered, 0 0 24px orangered;
  transform: scale(1.05);
}