.modelTables {
  background: #262626;
  flex-direction: column;
  justify-content: center;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: overflow-x-auto;
  color: white;
  width: 100%;
}

.modelTables th {
  font-weight: 500;
  border-bottom: 2px solid #444;
}

.modelTables td {
  border-bottom: 1px solid #333;
}

.modelTables tr:hover {
  background: #575555ff;
}