
.loginInput {
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease-in;
  text-align: center;
}

h3 {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
  color: pink;
  margin-bottom: 0.5em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

.createUserInput {
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease-in;
  box-sizing: border-box;
  text-align: center;
}