
.factionForm-selectA {
  font-size: 20px;
  padding: 25px 25px;
  padding-bottom: 50px;
  border-radius: 6px;
  background-image: var(--ffa-image);
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: #1b1b1b;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  align-items: center;
  justify-content: center;
}

.factionForm-selectB {
  font-size: 20px;
  padding: 25px 25px;
  padding-bottom: 50px;
  border-radius: 6px;
  background-image: var(--ffb-image);
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  width: 100%;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
}