.navBar .logo {
  max-width: 75px;
  max-height: 75px;
  justify-content: left;
  align-items: center;
}

.navBar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  font-family: sans-serif;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  position: fixed;
  margin: 0 auto;
  z-index: 5000;
  top: 0;
  height: 75px;
  width: 100%;
}

.loggedIn {
  margin-top: 4px;
  margin-bottom: 0px;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.home, .about, .armybuilder, .login {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.home:hover, .about:hover, .armybuilder:hover, .login:hover, .loggedIn {
  color: orangered;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  color: orangered;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, orangered, #ff6347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.title:hover {
  transform: scale(1.03);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #2b2a2a;
}
